In [1]:
%load_ext dotenv
%dotenv

## Imports

In [2]:
import pandas as pd
import lightgbm as lgbm
import os
from sklearn.model_selection import train_test_split
import gc

## Config

In [3]:
loc_train = os.getenv("LOC_PRE") + "/train.csv"
loc_test = os.getenv("LOC_PRE") + "/test.csv"

## Loading Data

In [4]:
df_train = pd.read_csv(loc_train,index_col=[0])
df_train.head()

    sales  store_nbr      family  onpromotion  year  month  day
id
0     0.0          1  AUTOMOTIVE            0  2013      1    1
1     0.0          1   BABY CARE            0  2013      1    1
2     0.0          1      BEAUTY            0  2013      1    1
3     0.0          1   BEVERAGES            0  2013      1    1
4     0.0          1       BOOKS            0  2013      1    1

In [5]:
df_test = pd.read_csv(loc_test,index_col=[0])
df_test.head()

         store_nbr      family  onpromotion  year  month  day
id
3000888          1  AUTOMOTIVE            0  2017      8   16
3000889          1   BABY CARE            0  2017      8   16
3000890          1      BEAUTY            2  2017      8   16
3000891          1   BEVERAGES           20  2017      8   16
3000892          1       BOOKS            0  2017      8   16

In [6]:
for dset in [df_train,df_test]:
    dset["family"] = dset["family"].astype("category")

## Splitting to Train/Val set

In [7]:
y = df_train.pop("sales")
y.head(3)

id
0    0.0
1    0.0
2    0.0
Name: sales, dtype: float64

In [8]:
X = df_train
# Have to see if this is useful or not
del df_train
gc.collect()
X.head(3)

    store_nbr      family  onpromotion  year  month  day
id
0           1  AUTOMOTIVE            0  2013      1    1
1           1   BABY CARE            0  2013      1    1
2           1      BEAUTY            0  2013      1    1

In [9]:
X_train,X_val,y_train,y_val = train_test_split(X,y,random_state=42,train_size=0.7)
print(X_train.shape,X_val.shape)

(2100621, 6) (900267, 6)

In [10]:
lgbm_train = lgbm.Dataset(X_train,label=y_train)
del X_train,y_train
lgbm_val = lgbm.Dataset(X_val,label=y_val)
del X_val,y_val
gc.collect()

0

## Creating and Training the model

In [11]:
params = {

}

In [12]:
model = lgbm.train(params,train_set=lgbm_train,valid_sets=[lgbm_train,lgbm_val])

[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.012839 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 346
[LightGBM] [Info] Number of data points in the train set: 2100621, number of used features: 6
[LightGBM] [Info] Start training from score 357.594217
[1]	training's l2: 1.04016e+06	valid_1's l2: 1.05349e+06
[2]	training's l2: 901874	valid_1's l2: 913960
[3]	training's l2: 789729	valid_1's l2: 800603
[4]	training's l2: 698426	valid_1's l2: 708072

/mnt/f/repos/kaggle-store-sales/.venv/lib/python3.8/site-packages/lightgbm/basic.py:1780: UserWarning: Overriding the parameters from Reference Dataset.
  _log_warning('Overriding the parameters from Reference Dataset.')
/mnt/f/repos/kaggle-store-sales/.venv/lib/python3.8/site-packages/lightgbm/basic.py:1513: UserWarning: categorical_column in param dict is overridden.
  _log_warning(f'{cat_alias} in param dict is overridden.')

[5]	training's l2: 622404	valid_1's l2: 631477
[6]	training's l2: 560726	valid_1's l2: 568958
[7]	training's l2: 509810	valid_1's l2: 517410
[8]	training's l2: 467998	valid_1's l2: 475231
[9]	training's l2: 432840	valid_1's l2: 439527
[10]	training's l2: 404435	valid_1's l2: 410547
[11]	training's l2: 377525	valid_1's l2: 383679
[12]	training's l2: 356569	valid_1's l2: 362763
[13]	training's l2: 339179	valid_1's l2: 345386
[14]	training's l2: 323057	valid_1's l2: 329337
[15]	training's l2: 308442	valid_1's l2: 314417
[16]	training's l2: 295102	valid_1's l2: 300974
[17]	training's l2: 284125	valid_1's l2: 289862
[18]	training's l2: 274986	valid_1's l2: 280619
[19]	training's l2: 267274	valid_1's l2: 272973
[20]	training's l2: 261091	valid_1's l2: 266656
[21]	training's l2: 253683	valid_1's l2: 259214
[22]	training's l2: 247130	valid_1's l2: 252588
[23]	training's l2: 241999	valid_1's l2: 247294
[24]	training's l2: 237481	valid_1's l2: 242590
[25]	training's l2: 234353	valid_1's l2: 239443
[26]	training's l2: 231417	valid_1's l2: 236448
[27]	training's l2: 227419	valid_1's l2: 232348
[28]	training's l2: 223972	valid_1's l2: 228898
[29]	training's l2: 221571	valid_1's l2: 226497
[30]	training's l2: 218731	valid_1's l2: 223643
[31]	training's l2: 216437	valid_1's l2: 221339
[32]	training's l2: 213715	valid_1's l2: 218675
[33]	training's l2: 211950	valid_1's l2: 216928
[34]	training's l2: 209502	valid_1's l2: 214483
[35]	training's l2: 207417	valid_1's l2: 212497
[36]	training's l2: 205923	valid_1's l2: 210951
[37]	training's l2: 204332	valid_1's l2: 209347
[38]	training's l2: 202049	valid_1's l2: 207037
[39]	training's l2: 200833	valid_1's l2: 205782
[40]	training's l2: 199680	valid_1's l2: 204605
[41]	training's l2: 198422	valid_1's l2: 203306
[42]	training's l2: 197191	valid_1's l2: 202031
[43]	training's l2: 195662	valid_1's l2: 200489
[44]	training's l2: 194265	valid_1's l2: 199092
[45]	training's l2: 193288	valid_1's l2: 198096
[46]	training's l2: 192072	valid_1's l2: 196898
[47]	training's l2: 190356	valid_1's l2: 195147
[48]	training's l2: 189577	valid_1's l2: 194472
[49]	training's l2: 188320	valid_1's l2: 193176
[50]	training's l2: 186565	valid_1's l2: 191359
[51]	training's l2: 185925	valid_1's l2: 190758
[52]	training's l2: 185054	valid_1's l2: 189901
[53]	training's l2: 184244	valid_1's l2: 189127
[54]	training's l2: 183347	valid_1's l2: 188288
[55]	training's l2: 182264	valid_1's l2: 187258
[56]	training's l2: 181607	valid_1's l2: 186567
[57]	training's l2: 181077	valid_1's l2: 186089
[58]	training's l2: 180283	valid_1's l2: 185304
[59]	training's l2: 179421	valid_1's l2: 184486
[60]	training's l2: 178516	valid_1's l2: 183576
[61]	training's l2: 177701	valid_1's l2: 182792
[62]	training's l2: 176747	valid_1's l2: 181836
[63]	training's l2: 175736	valid_1's l2: 180825
[64]	training's l2: 175226	valid_1's l2: 180328
[65]	training's l2: 174579	valid_1's l2: 179698
[66]	training's l2: 173940	valid_1's l2: 179097
[67]	training's l2: 173487	valid_1's l2: 178671
[68]	training's l2: 172422	valid_1's l2: 177612
[69]	training's l2: 172056	valid_1's l2: 177299
[70]	training's l2: 171233	valid_1's l2: 176460
[71]	training's l2: 170793	valid_1's l2: 176092
[72]	training's l2: 170499	valid_1's l2: 175846
[73]	training's l2: 169903	valid_1's l2: 175252
[74]	training's l2: 169579	valid_1's l2: 174952
[75]	training's l2: 169081	valid_1's l2: 174465
[76]	training's l2: 168600	valid_1's l2: 174019
[77]	training's l2: 168108	valid_1's l2: 173537
[78]	training's l2: 167917	valid_1's l2: 173378
[79]	training's l2: 167678	valid_1's l2: 173183
[80]	training's l2: 167261	valid_1's l2: 172807
[81]	training's l2: 166518	valid_1's l2: 172199
[82]	training's l2: 165882	valid_1's l2: 171558
[83]	training's l2: 165557	valid_1's l2: 171236
[84]	training's l2: 164509	valid_1's l2: 170190
[85]	training's l2: 163938	valid_1's l2: 169642
[86]	training's l2: 163583	valid_1's l2: 169354
[87]	training's l2: 163439	valid_1's l2: 169215
[88]	training's l2: 162756	valid_1's l2: 168568
[89]	training's l2: 162204	valid_1's l2: 168002
[90]	training's l2: 161452	valid_1's l2: 167248
[91]	training's l2: 161181	valid_1's l2: 167026
[92]	training's l2: 160385	valid_1's l2: 166232
[93]	training's l2: 159977	valid_1's l2: 165853
[94]	training's l2: 159447	valid_1's l2: 165339
[95]	training's l2: 159089	valid_1's l2: 164996
[96]	training's l2: 158790	valid_1's l2: 164739
[97]	training's l2: 158448	valid_1's l2: 164400
[98]	training's l2: 158103	valid_1's l2: 164063
[99]	training's l2: 157857	valid_1's l2: 163833
[100]	training's l2: 157524	valid_1's l2: 163512

In [13]:
model.feature_importance()

array([1371,  619,  313,  256,  273,  168], dtype=int32)

## Prediction

In [14]:
output = pd.DataFrame()

In [15]:
output.index = df_test.index

In [16]:
output["sales"] = model.predict(df_test)

In [17]:
output.head()

               sales
id
3000888     3.092327
3000889     3.092327
3000890    40.481426
3000891  2191.735183
3000892     3.092327

In [18]:
output.to_csv("../submission.csv")