In [49]:
%load_ext dotenv
%dotenv

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [50]:
import lightgbm as lgbm
import pandas as pd
import os

In [51]:
loc_pre = os.getenv("LOC_PRE")
loc_pre_test = f"{loc_pre}/test.csv"

In [52]:
df_test = pd.read_csv(loc_pre_test,index_col=[0])
df_test.head(5)

         store_nbr      family  onpromotion  year  month  day
id
3000888          1  AUTOMOTIVE            0  2017      8   16
3000889          1   BABY CARE            0  2017      8   16
3000890          1      BEAUTY            2  2017      8   16
3000891          1   BEVERAGES           20  2017      8   16
3000892          1       BOOKS            0  2017      8   16

In [53]:
cat_cols = [name for name,type in df_test.dtypes.items() if type=="object"]
cat_cols

['family']

In [54]:
for col in cat_cols:
    df_test[col] = df_test[col].astype("category")

In [55]:
model = lgbm.Booster(model_file="./lgbm.pkl")

In [56]:
predictions = model.predict(df_test)

In [57]:
df = pd.DataFrame({"sales":predictions},index=df_test.index)

In [58]:
df.to_csv("../submission.csv")