In [32]:
%load_ext dotenv
%dotenv

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [33]:
import lightgbm as lgbm
import pandas as pd
import os

In [34]:
loc_pre = os.getenv("LOC_PRE")
loc_pre_test = f"{loc_pre}/test.csv"

In [35]:
df_test = pd.read_csv(loc_pre_test,index_col=[0])
df_test.head(5)

,store_nbr,family,onpromotion,type_x,locale,locale_name,description,transferred,dcoilwtico,city,state,type_y,cluster,transactions,year,month,day
id,,,,,,,,,,,,,,,,,
3000888,1,AUTOMOTIVE,0,NaN,NaN,NaN,NaN,NaN,46.8,Quito,Pichincha,D,13,NaN,2017,8,16
3000889,1,BABY CARE,0,NaN,NaN,NaN,NaN,NaN,46.8,Quito,Pichincha,D,13,NaN,2017,8,16
3000890,1,BEAUTY,2,NaN,NaN,NaN,NaN,NaN,46.8,Quito,Pichincha,D,13,NaN,2017,8,16
3000891,1,BEVERAGES,20,NaN,NaN,NaN,NaN,NaN,46.8,Quito,Pichincha,D,13,NaN,2017,8,16
3000892,1,BOOKS,0,NaN,NaN,NaN,NaN,NaN,46.8,Quito,Pichincha,D,13,NaN,2017,8,16

In [36]:
cat_cols = [name for name,type in df_test.dtypes.items() if type=="object"]
cat_cols

['family',
 'type_x',
 'locale',
 'locale_name',
 'description',
 'transferred',
 'city',
 'state',
 'type_y']

In [37]:
for col in cat_cols:
    df_test[col] = df_test[col].astype("category")

In [38]:
model = lgbm.Booster(model_file="./lgbm.pkl")

In [39]:
df_test

,store_nbr,family,onpromotion,type_x,locale,locale_name,description,transferred,dcoilwtico,city,state,type_y,cluster,transactions,year,month,day
id,,,,,,,,,,,,,,,,,
3000888,1,AUTOMOTIVE,0,NaN,NaN,NaN,NaN,NaN,46.80,Quito,Pichincha,D,13,NaN,2017,8,16
3000889,1,BABY CARE,0,NaN,NaN,NaN,NaN,NaN,46.80,Quito,Pichincha,D,13,NaN,2017,8,16
3000890,1,BEAUTY,2,NaN,NaN,NaN,NaN,NaN,46.80,Quito,Pichincha,D,13,NaN,2017,8,16
3000891,1,BEVERAGES,20,NaN,NaN,NaN,NaN,NaN,46.80,Quito,Pichincha,D,13,NaN,2017,8,16
3000892,1,BOOKS,0,NaN,NaN,NaN,NaN,NaN,46.80,Quito,Pichincha,D,13,NaN,2017,8,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3029395,9,POULTRY,1,NaN,NaN,NaN,NaN,NaN,47.26,Quito,Pichincha,B,6,NaN,2017,8,31
3029396,9,PREPARED FOODS,0,NaN,NaN,NaN,NaN,NaN,47.26,Quito,Pichincha,B,6,NaN,2017,8,31
3029397,9,PRODUCE,1,NaN,NaN,NaN,NaN,NaN,47.26,Quito,Pichincha,B,6,NaN,2017,8,31
3029398,9,SCHOOL AND OFFICE SUPPLIES,9,NaN,NaN,NaN,NaN,NaN,47.26,Quito,Pichincha,B,6,NaN,2017,8,31
3029399,9,SEAFOOD,0,NaN,NaN,NaN,NaN,NaN,47.26,Quito,Pichincha,B,6,NaN,2017,8,31

In [40]:
predictions = model.predict(df_test)

In [41]:
df = pd.DataFrame({"id": df_test.index, "sales": predictions})

In [42]:
df.to_csv("../submission.csv",index=False)