In [1]:
%load_ext dotenv
%dotenv

## Imports

In [2]:
import os
import pandas as pd

## Config

In [3]:
loc_data = os.getenv("LOC_DATA")
loc_train = f"{loc_data}/train.csv"
loc_test = f"{loc_data}/test.csv"
loc_stores = f"{loc_data}/stores.csv"
loc_oil = f"{loc_data}/oil.csv"
loc_transactions = f"{loc_data}/transactions.csv"
loc_holiday_events = f"{loc_data}/holiday_events.csv"

loc_pre = os.getenv("LOC_PRE")
loc_pre_train = f"{loc_pre}/train.csv"
loc_pre_test = f"{loc_pre}/test.csv"

## Loading data

In [4]:
df_train = pd.read_csv(loc_train,index_col=[0],parse_dates=["date"])
df_train.head(3)

         date  store_nbr      family  sales  onpromotion
id
0  2013-01-01          1  AUTOMOTIVE    0.0            0
1  2013-01-01          1   BABY CARE    0.0            0
2  2013-01-01          1      BEAUTY    0.0            0

In [5]:
df_test = pd.read_csv(loc_test,index_col=[0],parse_dates=["date"])
df_test.head(3)

              date  store_nbr      family  onpromotion
id
3000888 2017-08-16          1  AUTOMOTIVE            0
3000889 2017-08-16          1   BABY CARE            0
3000890 2017-08-16          1      BEAUTY            2

## Copy train/test as preprocessing

For baseline I am just going to parse date into [year,month,day] columns and copy the rest.

In [6]:
df_train.insert(0,"sales",df_train.pop("sales"))
df_train

,sales,date,store_nbr,family,onpromotion
id,,,,,
0,0.000,2013-01-01,1,AUTOMOTIVE,0
1,0.000,2013-01-01,1,BABY CARE,0
2,0.000,2013-01-01,1,BEAUTY,0
3,0.000,2013-01-01,1,BEVERAGES,0
4,0.000,2013-01-01,1,BOOKS,0
...,...,...,...,...,...
3000883,438.133,2017-08-15,9,POULTRY,0
3000884,154.553,2017-08-15,9,PREPARED FOODS,1
3000885,2419.729,2017-08-15,9,PRODUCE,148
3000886,121.000,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,8
3000887,16.000,2017-08-15,9,SEAFOOD,0

In [7]:
# Parses year,month,day into its own columns in place for the given df
def parseDate(df: pd.DataFrame):
    df["year"] = df["date"].dt.year
    df["month"] = df["date"].dt.month
    df["day"] = df["date"].dt.day
    df.drop("date",axis=1,inplace=True)

In [8]:
parseDate(df_train)
parseDate(df_test)

In [9]:
df_train.to_csv(loc_pre_train)
df_test.to_csv(loc_pre_test)